# Agenda

1. For loop thing
2. nested loop
3. Range
4. Questions
5. Introduction to functions

#### WAP to take  a name from user and output it back after removing all the vowels from it?

In [3]:
s=input(' write your name - ')
s.split()
i=['a','e','i','o','u']
for i in s:
    print(s-i)

 write your name - ravindra

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
s=input(' write your name - ')

i=['a','e','i','o','u']
for i in s:
    print(s-i)

 write your name - ravindra

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
name=input(' Enter your name-')
ans=''
for alphabet in name:
    if alphabet in 'aeiou' or alphabet in 'AEIOU':
        continue
    ans=ans+alphabet
ans

 Enter your name-Ravindra kumar

'Rvndr kmr'

####  WAP to take positive number from user and find the sum of natural numbers till that number?

In [17]:
start=1
ans=0
n=55
while(start!=n+1):
    ans=ans+start
    start=start+1
ans

1540

#### WAP to take an input string from the user and check if it's a palindrome?
(using loops)

In [26]:
str1 = input('write a word i will tell you whetehr it is a palindrome -')
for i in str1:             # Self tried wrong outcome
    if i==i[::-1]:
        print('yes')

write a word i will tell you whetehr it is a palindrome -nitin
yes
yes
yes
yes
yes

In [24]:
str1 = input('write a word i will tell you whetehr it is a palindrome -')
for i in str1:
    if i==i[::-1]:                       # Self tried wrong outcome
        print('yes')

write a word i will tell you whetehr it is a palindrome -RAVINDRA
yes
yes
yes
yes
yes
yes
yes
yes

In [29]:
str1 = input('write a word i will tell you whetehr it is a palindrome -')
for i in str1:
    if i in str1==i in str1[::-1]:                       # Self tried wrong outcome
        print('yes')
    else:
        print('no')

write a word i will tell you whetehr it is a palindrome -NITIN
no
no
no
no
no

In [30]:
name = input("Enter a name")
start = 0
end = len (name) - 1
is_palindrome = 1
while (start < end):
    if name[start] != name[end]:
        is_palindrome = 0
        break 
        start +=1
        end -= 1


if is_palindrome == 0:
    print("Not a palindrome" )
else:
    print("Its a palindrome" )

Enter a nameRAVINDRA
Not a palindrome

In [35]:
name = input("Enter a name  - ")
start = 0
end = len(name)- 1
is_palindrome = 1
while (start < end):
    if name[start] != name[end]:
        is_palindrome = 0
        break 
    start +=1
    end -= 1


if is_palindrome == 0:
    print("Not a palindrome" )
else:
    print("Its a palindrome" )

Enter a name  - NITIN
Its a palindrome

In [36]:
name = input("Enter a name  - ")
start = 0
end = len(name)- 1
is_palindrome = 1
while (start < end):
    if name[start] != name[end]:
        is_palindrome = 0
        break 
    start +=1
    end -= 1


if is_palindrome == 0:
    print("Not a palindrome" )
else:
    print("Its a palindrome" )

Enter a name  - ravindra
Not a palindrome

#### WAP to take a number from user and write it's factorial?

factorial is 

if we have to find a factorial of 4 then it will be 1 * 2  * 3 * 4

In [40]:
number= int(input())
tempnumber = number
fact=1
while tempnumber > 0:
    
    fact*=tempnumber
    tempnumber = tempnumber - 1
print('the factorial of number {} is {}'.format(number,fact))

4
the factorial of number 4 is 24

In [41]:
 # second wAY
    
number = 5 
start=1
ans=1

while start <= number:
    ans*=start
    start+=1
ans

120

### Sequance / Iterable

a sequence is an ordered collection of items. Sequences support indexing and slicing operations. Common examples of sequences include lists, tuples, and strings.



An iterable, on the other hand, is any object in Python that can be looped over using a loop construct like a for loop. Iterables include not only sequences like lists and tuples but also other objects like dictionaries, sets, and even files.



While all sequences are iterables because you can loop over their elements, not all iterables are sequences. For example, a dictionary is an iterable, but it's not a sequence because it doesn't have a defined order for its elements.


Here's a quick summary:


Sequence: Ordered collection of items, supports indexing and slicing. Examples include lists, tuples, and strings.


Iterable: Any object that can be looped over using a loop construct like a for loop. Examples include sequences, dictionaries, sets, and files.

In [42]:
str1='ravindra'
t1=('r','a','v','i')
l1=['r','a','v','i']
set1={'r','a','v','i'}

In [43]:
for eachelement in str1:
    print(eachelement)

r
a
v
i
n
d
r
a

In [45]:
for eachelement in set1:
    print(eachelement)

v
r
a
i

In [46]:
for eachelement in t1:
    print(eachelement)

r
a
v
i

In [47]:
for eachelement in l1:
    print(eachelement)

r
a
v
i

### Range function

It is an inbuilt function of python,which returns a range object.

Function is very useful in generarting sequence of numbers in form of lists.

It takes three arguments [start,stop,step]

In [5]:
range(5)

range(0, 5)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [9]:
list(range(-3))     # It is an empty list

[]

In [10]:
list(range(-7,-4))

[-7, -6, -5]

In [11]:
 list(range(10,1))

[]

# You have to take a input from user and print * pattern?

#n=4

-****

-****

-****

-****

n=3

-***

-***

-***

In [16]:
n=4
for i in range(n):
    
    print('*'*n)

****
****
****
****

In [17]:
n=int(input('give me a number and ill make it star with the same rows and columns '))
for i in range(n):
    
    print('*'*n)

give me a number and ill make it star with the same rows and columns 9
*********
*********
*********
*********
*********
*********
*********
*********
*********

In [20]:
n=4
for i in range(n):          # It impact number of lines
    print('*'*n,end=' ')

**** **** **** ****

In [21]:
n=int(input('give me a number and ill make it star with the same rows'))
for i in range(n):          # It impact number of lines
    print('*'*n,end=' ')

give me a number and ill make it star with the same rows2
** **

In [22]:
n=4
for i in range(n):
    
    print('*'*n)

****
****
****
****

In [26]:
n=4
for i in range(n):
    for j in range(n):
        print('*',end=' ')      # This end prevents from moving to next line
    print()

* * * *
* * * *
* * * *
* * * *

1. Print output like this 

n=3

111

222

333

2. print output like this 

n=4


111

222

333

444

In [33]:
n=3
for outerloop in range(n):
    print('1',end=' ')
    for innerloop in range(n):
        print('2')

1 2
2
2
1 2
2
2
1 2
2
2

In [34]:
n=3
for outerloop in range(n):
    print('1',end=' ')
    for innerloop in range(n):
        print('2',end=' ')

1 2 2 2 1 2 2 2 1 2 2 2

In [35]:
n=3
for outerloop in range(n):
    print('1',end=' ')
for innerloop in range(n):
    print('2',end=' ')

1 1 1 2 2 2

In [36]:
n=3
for outerloop in range(n):
    print('1')
for innerloop in range(n):
    print('2')

1
1
1
2
2
2

In [38]:
n=3
for outerloop in range(n):
    for innerloop in range(n):
        print('1')
    for innerloop in range(n):
        print('2')
    print()

1
1
1
2
2
2

1
1
1
2
2
2

1
1
1
2
2
2

In [40]:
n=3
for outerloop in range(n):
    for innerloop in range(n):
        print('1',end='')
        for innerloop in range(n):
            print('2',end='')
    print()

122212221222
122212221222
122212221222

In [46]:
n=3
for outerloop in range(n):
    for innerloop in range(n):
        print(innerloop,end='')

    print()

012
012
012

In [44]:
n=3
for outerloop in range(n):
    for innerloop in range(n):
        print(outerloop,end='')

    print()

000
111
222

In [42]:
n=3
for outerloop in range(n):
    for innerloop in range(n):
        print(outerloop+1,end='')

    print()

111
222
333

If you have to print outcome like this

1

22

333

4444

In [50]:
n=3
for outerloop in range(n):         # Only we have to change range to outerloop +1
    for innerloop in range(outerloop+1):
        print(outerloop+1,end='')

    print()

1
22
333

If we have to print 

1

3 3

5 5 5

7 7 7 7

9 9 9 9 9

In [51]:
n=4
odd=1
for outerloop in range(n):
    for innerloop in range(outerloop+1):\
        print(odd,end='')
    odd=odd+2
    print()

1
33
555
7777

In [54]:
n=5
odd=1
for outerloop in range(n):
    for innerloop in range(outerloop+1):\
        print(odd,end='')
    odd=odd+2
    print()

1
33
555
7777
99999