## List

List- list are ordered collection of data item, they stores multiple items in single variable.

List items are seperated by commas and enclosed within square bracket[]

List are changable and  mutable meaning we can alter them after creation.

In [1]:
list1=[1,2,3,3.4,True,'ravi']

In [2]:
list1[3]

3.4

In [4]:
# List indexing
list3=['red','blue','green']

In [5]:
list3[0]

'red'

In [6]:
# i can also store this in a seprate variable
red_colour=list3[0]

In [9]:
red_colour

'red'

In [10]:
list3[87]

IndexError: list index out of range

In [11]:
list3[-2]

'blue'

In [12]:
list3

['red', 'blue', 'green']

In [13]:
# You can also put condition in list

if 'red' in list3:
    print('yes')
else:
    print('no')

yes

In [14]:
# By for loop
for i in list3:
    print(i)

red
blue
green

In [17]:

for i in range(len(list3)):
    print(i)

0
1
2

If i want to print indexing with list elements

In [19]:

for i in range(len(list3)):
    print(i,list3[i])

0 red
1 blue
2 green

In [20]:
# Range of index

list3[0:2]

['red', 'blue']

In [21]:
num=[1,2,3,4,5,5,6,7,8,9]

In [27]:
for i in num:
    if i%2== 0:
        print('even number')
    else:
        print('odd number')

odd number
even number
odd number
even number
odd number
odd number
even number
odd number
even number
odd number

In [28]:
# If i want to change any element we can do it 
num[9]=20

In [29]:
num

[1, 2, 3, 4, 5, 5, 6, 7, 8, 20]

In [31]:
list3

['red', 'blue', 'green']

In [32]:
# If i want to change any specific colour to another one we can do it so 
list3[2]='white'

In [33]:
list3

['red', 'blue', 'white']

In the square bracket you have to give the index

 You can also perform mathametical operations with list

In [34]:
num[1]*num[2]

6

In [35]:
# We can also store this in a variable here only

 ## List comprehension

In [36]:
 num

[1, 2, 3, 4, 5, 5, 6, 7, 8, 20]

In [37]:
num[9]=9

In [38]:
num

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [39]:
list=[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [40]:
# In above we wrote these all manually but we can do it autamatically also

In [46]:
for i in range(10):
     print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
list1=[i for i in range(10)]

In [42]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
# If we have to print even number only
list2=[i for i in range(10) if i%2==0]

In [44]:
list2

[0, 2, 4, 6, 8]