## List methods in pyton


In Python, the `list` type comes with several built-in methods for performing various operations on lists. Here are some of the most commonly used methods:


1. **append(x)**: Adds an element `x` to the end of the list.



2. **extend(iterable)**: Extends the list by appending elements from the iterable or adding two lists



3. **insert(i, x)**: Inserts an element `x` at the specified index `i`.



4. **remove(x)**: Removes the first occurrence of the element `x` from the list.



5. **pop([i])**: Removes and returns the element at the specified index `i`. If `i` is not provided, it removes and returns the last element.



6. **clear()**: Removes all elements from the list.



7. **index(x[, start[, end]])**: Returns the index of the first occurrence of the element `x` in the list. Optionally, you can specify start and end indices to search within a specific slice of the list.



8. **count(x)**: Returns the number of occurrences of the element `x` in the list.



9. **sort(key=None, reverse=False)**: Sorts the elements of the list in ascending order by default. You can specify a custom sorting key function using the `key` parameter, and set 
`reverse=True` to sort in descending order.



10. **reverse()**: Reverses the elements of the list in place.



11. **copy()**: Returns a shallow copy of the list.



These are just the basic methods. There are more advanced operations you can perform using list comprehensions, slicing, and other techniques, but these methods cover most common use cases.

### append(x):

In [1]:
fruits=['apple','banana','mango']

In [2]:
fruits.append('orange')

In [3]:
fruits

['apple', 'banana', 'mango', 'orange']

In [4]:
fruits.append(['kiwi','grapes'])

In [5]:
fruits

['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

### clear

In [6]:
fruits2=['apple','banana','mango']

In [7]:
fruits2.clear()

In [8]:
fruits2

[]

### Copy

In [9]:
fruits

['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

In [10]:
temp=fruits.copy()

In [11]:
temp

['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

In [12]:
# If you do not want to cahnge your list so you exactly copy the same list

In [14]:
 temp[0]='strawberry'

In [15]:
temp

['strawberry', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

### Count()

In [17]:
fruits.count('apple')

1

In [20]:
len(fruits )

5

### Extend()

In [21]:
fruits3=['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

In [22]:
cars=['swift','wagnor','verna']

In [23]:
# If you have to add one list with another

In [24]:
fruits.extend(cars)

In [25]:
fruits

['apple',
 'banana',
 'mango',
 'orange',
 ['kiwi', 'grapes'],
 'swift',
 'wagnor',
 'verna']

In [26]:
fruits+cars

['apple',
 'banana',
 'mango',
 'orange',
 ['kiwi', 'grapes'],
 'swift',
 'wagnor',
 'verna',
 'swift',
 'wagnor',
 'verna']

In [27]:
# but this is not the correct way for industry

### Index( )

In [28]:
# In industry use, we faces many list that contain large amount of elements so to find index

In [30]:
fruits3

['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes']]

In [31]:
fruits.index('orange')

3

In [32]:
# If you have duplicate values then it will return the first one

### Insert

In [33]:
fruits

['apple',
 'banana',
 'mango',
 'orange',
 ['kiwi', 'grapes'],
 'swift',
 'wagnor',
 'verna']

In [34]:
print(fruits)

['apple', 'banana', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [35]:
# If you want to add at 1 index ie banana now

In [37]:
fruits.insert(1,'berrys')

In [38]:
print(fruits)

['apple', 'berrys', 'banana', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [39]:
 fruits.insert(100,'berrys')

In [40]:
print(fruits)

['apple', 'berrys', 'banana', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna', 'berrys']

### Pop( )

In [41]:
print(fruits)

['apple', 'berrys', 'banana', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna', 'berrys']

In [42]:
# If you don't give proper index it will delete at the last

In [43]:
fruits.pop()

'berrys'

In [44]:
print(fruits)

['apple', 'berrys', 'banana', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [45]:
# If you want to delete specific element then you have to give proper index number

In [46]:
fruits.pop(2)     # If you want to remove banana

'banana'

In [47]:
print(fruits)

['apple', 'berrys', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

### Remove()

In [48]:
fruits

['apple',
 'berrys',
 'mango',
 'orange',
 ['kiwi', 'grapes'],
 'swift',
 'wagnor',
 'verna']

In [49]:
fruits.remove('apple')

In [50]:
print(fruits)

['berrys', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [51]:
temp=[]
for i in fruits:
    if i == 'mango':
        pass
    else:
        temp.append(i)

In [52]:
temp

['berrys', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [53]:
temt=[]
for i in fruits:
    if i == 'mango':
        pass
    else:
        temt.append(i)

In [54]:
temt

['berrys', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

### Reverse()

In [55]:
print(fruits)

['berrys', 'mango', 'orange', ['kiwi', 'grapes'], 'swift', 'wagnor', 'verna']

In [56]:
fruits.reverse()

In [57]:
print(fruits)

['verna', 'wagnor', 'swift', ['kiwi', 'grapes'], 'orange', 'mango', 'berrys']

In [58]:
print(cars)

['swift', 'wagnor', 'verna']

In [59]:
cars.sort()

In [60]:
cars

['swift', 'verna', 'wagnor']

In [61]:
l1=[2,15,3,5,7,4]

In [62]:
l1.sort()

In [63]:
print(l1)

[2, 3, 4, 5, 7, 15]

In [64]:
# It is in acending order but if you want in decending order then

In [65]:
l1.sort(reverse=True)

In [66]:
print(l1)

[15, 7, 5, 4, 3, 2]

## Tuples


a tuple is a collection data type that is similar to a list but with one key difference: tuples are immutable, meaning their elements cannot be changed or modified after the tuple is created. 

Tuples are defined by enclosing comma-separated values within parentheses `()`. For example:

```python
my_tuple = (1, 2, 3, 'a', 'b', 'c')
```

Tuples can contain elements of different data types, including numbers, strings, and even other tuples or lists.

Here are some key characteristics of tuples:

1. **Immutable**: Once a tuple is created, you cannot modify its elements. This means you cannot add, remove, or change elements within a tuple.

2. **Ordered**: Like lists, tuples maintain the order of elements, meaning the order in which elements are defined is preserved.

3. **Indexing and Slicing**: You can access individual elements of a tuple using indexing and slicing, just like with lists.

4. **Iterable**: Tuples can be iterated over using loops or other iterable operations.

5. **Hashable**: Tuples are hashable and can be used as keys in dictionaries or elements in sets.

Tuples are often used for situations where you want to store a collection of items that should not be changed, such as coordinates, database records, or configuration settings. Additionally, they can be useful for functions that need to return multiple values, as you can return a tuple containing those values.

In [67]:
tup=(1,2,'ravi',0.4,True)

In [68]:
type(tup)

tuple

In [69]:
# We can perform indexing 

tup[0]

1

In [70]:
tup[2]

'ravi'

In [71]:
# We cannot change the object in it like we did in list

In [72]:
tup[2]=12

TypeError: 'tuple' object does not support item assignment

In [75]:
# We can not add elements in tuples bcz it support append() operation

In [76]:
tup.append('344324')

AttributeError: 'tuple' object has no attribute 'append'

In [77]:
 # If you want to append then firstly you have to type cast it into list